<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vacanta ta</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.15.4/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
</head>

<body>
<div th:fragment="navbar">
    <header>
        <nav>
            <div class="menu-icon">
                <i class="fa fa-bars fa-2x"></i>
            </div>
            <div class="logo">
                4 T o U r
            </div>
            <div class="menu">
                <ul>
                    <li><a href="http://localhost:8081/">Home</a></li>
                    <li><a href="http://localhost:8081/cazare-Romania">Cazare Romania</a></li>
                    <li><a href="http://localhost:8081/city-break">City-Break</a></li>
                    <li><a href="http://localhost:8081/promotii">Promotii</a></li>
                    <li><a href="http://localhost:8081/contact">Contact</a></li>
                    <li><a href="http://localhost:8081/shoppingCart">Cos</a></li>
                    <li><a href="http://localhost:8081/login">Contul meu</a></li>

                    <li sec:authorize="hasAuthority('USER')"><a href="http://localhost:8081/logout">Deconectare</a></li>
              <br>

                    <li sec:authorize="hasAuthority('ADMIN')"><a href="http://localhost:8081/tourOfferAdmin/">Creaza oferte de vacanta</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="http://localhost:8081/continent/">Afiseaza continentele</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="http://localhost:8081/country/">Afiseaza tarile</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="http://localhost:8081/city/">Afiseaza orasele</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="http://localhost:8081/airport/">Afiseaza aeroporturi</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="http://localhost:8081/hotel/">Afiseaza hoteluri</a></li>
                    <li sec:authorize="hasAuthority('ADMIN')"><a href="http://localhost:8081/logout">Admin/deconectare</a></li>



                </ul>
            </div>
        </nav>
    </header>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>


</html>