<html lang="ro" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<meta name="author" content="Q Travel Cloud by Acqua Ltd">

<title>Contacteaza-ne! - 4ToUr</title>
<link rel="canonical" href="https://www.vacantede10.ro/contact/">

<meta property="og:url" content="https://www.vacantede10.ro/contact/">
<meta property="og:type" content="website">


<!--<link rel="stylesheet"-->
<!--      href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin,latin-ext">-->

<!--<link rel="stylesheet" href="/assets/css/acqua-tmpl-saved-offers.css">-->

<!--     THEME CSS - COLOR SCHEME -->
<!--    <link rel="stylesheet" href="/resources/quick-sell-vacantede10/css/theme.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-section-flight-layout-wide.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-section-flight-details.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-section-flight-airlines-stops.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-section-flight-flexible.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-section-hotel.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-widgets.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-tmpl-calendar-table.css">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-form.css?">-->
<!--    <link rel="stylesheet" href="/assets/css/theme/acqua-cs-main.css?">-->
<!--    <link rel="stylesheet" href="/assets/css/acqua-toast.css">-->
<!--    <link rel="stylesheet" href="/assets/css/acqua-blog.css">-->

<!--<script>-->
<!--      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){-->
<!--      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),-->
<!--      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)-->
<!--      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');-->

<!--</script>-->

<!--<script src="/assets/js/plugins.js?"></script>-->

<body class="contact">

<div th:replace="fragments/navbar :: navbar"/>
</div>

<div class="wrapper">
    <div class="acqua-contact-page">
        <div id="map_canvas" class="acqua-contact-map olMap">
            <div id="OpenLayers_Map_2_OpenLayers_ViewPort"
                 class="olMapViewport olControlDragPanActive olControlZoomBoxActive olControlPinchZoomActive olControlNavigationActive olControlSelectFeatureActive"
                 style="position: relative; overflow: hidden; width: 100%; height: 100%;">
                <div id="OpenLayers_Map_2_OpenLayers_Container"
                     style="position: absolute; z-index: 749; left: 0px; top: 0px;">
                    <div id="OpenLayers_Layer_OSM_18" dir="ltr" class="olLayerDiv olLayerGrid"
                         style="position: absolute; width: 100%; height: 100%; z-index: 100;"><img class="olTileImage"
                                                                                                   crossorigin="anonymous"
                                                                                                   src="https://b.tile.openstreetmap.org/14/9160/5845.png"
                                                                                                   id="null"
                                                                                                   style="visibility: inherit; opacity: 1; position: absolute; left: 310px; top: 58px; width: 256px; height: 256px;">
                    </div>
                    <div id="OpenLayers_Layer_Markers_20" dir="ltr" class="olLayerDiv"
                         style="position: absolute; width: 100%; height: 100%; z-index: 330;"></div>
                    <div id="OpenLayers_Layer_Vector_22" dir="ltr" class="olLayerDiv"
                         style="position: absolute; width: 100%; height: 100%; z-index: 725; left: 0px; top: 0px;">
                        <svg id="OpenLayers_Layer_Vector_22_svgRoot" width="880" height="300" viewBox="0 0 880 300"
                             style="display: block;">
                            <g id="OpenLayers_Layer_Vector_22_root" transform="" style="visibility: visible;">
                                <g id="OpenLayers_Layer_Vector_22_vroot"></g>
                                <g id="OpenLayers_Layer_Vector_22_troot"></g>
                            </g>
                        </svg>
                    </div>
                </div>
                <div id="OpenLayers_Control_Zoom_5" class="olControlZoom olControlNoSelect" unselectable="on"
                     style="position: absolute; z-index: 1004;"><a href="#zoomIn" class="olControlZoomIn olButton">+</a><a
                        href="#zoomOut" class="olControlZoomOut olButton">−</a></div>
                <div id="OpenLayers_Control_ArgParser_6" class="olControlArgParser olControlNoSelect" unselectable="on"
                     style="position: absolute; z-index: 1004;"></div>
                <div id="OpenLayers_Control_Attribution_7" class="olControlAttribution olControlNoSelect"
                     unselectable="on" style="position: absolute; z-index: 1004;">© <a
                        href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors
                </div>
                <div id="OpenLayers_Control_SelectFeature_57" class="olControlSelectFeature olControlNoSelect"
                     unselectable="on" style="position: absolute; z-index: 1005;"></div>
            </div>
        </div>

        <div class="container padb20">
            <div class="acqua-heading-container">
                <h1>Vrei sa facem cunostinta?</h1>

                <span class="heading-underline"></span>
                <p>Iata datele de contact</p>
            </div>

            <div class="row">
                <div class="col-sm-5">
                    <div class="acqua-contact-info">
                        <h2>Ne gasesti la:</h2>

                        <p class="info-title  ">Adresa</p>
                        <p class="info-content  ">Str. Pavel Stoica 2A, cam. 1, Timisoara</p>

                        <p class="info-title ">Program de Lucru</p>
                        <p class="info-content " style="margin:0">Luni-Vineri: 09:00 - 18:00</p>
                        <p class="info-content " style="margin:0">Sambata: Închis</p>
                        <p class="info-content " style="margin:0">Duminica: Închis</p>
                        <p class="info-content "></p>

                        <p class="info-title ">Telefon</p>
                        <p class="info-content " style="margin:0"><a href="tel:0749 686 686">0749 686 686</a></p>
                        <p class="info-content hidden" style="margin:0"><a href="tel:"></a></p>
                        <p class="info-content "></p>

                        <p class="info-title hidden">Telefon Urgente Clienti</p>
                        <p class="info-content hidden"><a href="tel:"></a></p>

                        <p class="info-title hidden">Fax</p>
                        <p class="info-content hidden"><a href="tel:"></a></p>

                        <p class="info-title ">E-mail</p>
                        <p class="info-content "><a href="mailto:office@vacantede10.ro">office@vacantede10.ro</a></p>

                    </div><!-- /acqua-contact-info -->
                </div>
            </div>

            <div class="col-sm-7">
                <div class="acqua-contact-form">
                    <h2>Scrie-ne un mesaj</h2>
                    <form>
                        <div class="row" id="contact_us_form_request">
                            <div class="form-group col-sm-12">
                                <label>Nume</label>
                                <input type="text" id="contact_us_form_name" class="form-control input-lg">
                                <div class="error-msg" id="contact_us_form_name_error">Te rugam sa introduci un nume
                                    corect
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>E-mail</label>
                                <input type="email" id="contact_us_form_email" class="form-control input-lg">
                                <div class="error-msg" id="contact_us_form_email_error">Te rugam sa introduci un email
                                    corect
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>Telefon</label>
                                <input type="phone" id="contact_us_form_phone" class="form-control input-lg">
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Subiect</label>
                                <input type="text" id="contact_us_form_subject" class="form-control input-lg">
                            </div>
                            <div class="form-group col-sm-12">
                                <label>Mesaj</label>
                                <textarea rows="3" id="contact_us_form_message"
                                          class="form-control input-lg"></textarea>
                            </div>
                            <div class="col-sm-12 buttons">
                                <button class="btn btn-success btn-lg" id="contact_us_form_button"
                                        onclick="contact_request(); return false;">Trimite mesaj
                                </button>
                            </div>
                        </div><!-- /row -->
                        <div class="row" id="contact_us_form_thank_you" style="display: none;">
                            Iti multumim!<br>
                            Te vom contacta in cel mai scurt timp posibil.
                        </div><!-- /row -->
                    </form>
                </div><!-- /acqua-contact-form -->
            </div>
        </div><!-- /row -->

    </div><!-- /container -->

</div><!-- /acqua-contact-page -->


<!-- openStreetMaps -->
<script src="/assets/js/OpenLayers.js"></script>
<script type="text/javascript">
var single_map;


var osm_name = 'VACANTE DE 10 - Agentia de turism';
var osm_lon = parseFloat('21.2630503');
var osm_lat = parseFloat('45.720858');

$('#map_canvas').html('');
single_map = new OpenLayers.Map("map_canvas");
single_map.addLayer(new OpenLayers.Layer.OSM());

var centerLonLat = new OpenLayers.LonLat( osm_lon ,osm_lat )
.transform(
new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
single_map.getProjectionObject() // to Spherical Mercator Projection
);

var zoom = 16;

var markers = new OpenLayers.Layer.Markers( "Markers" );
single_map.addLayer(markers);

var vectorLayer = new OpenLayers.Layer.Vector("Overlay");
epsg4326 = new OpenLayers.Projection("EPSG:4326"); //WGS 1984 projection
projectTo = single_map.getProjectionObject(); //The map projection (Spherical Mercator)

var feature = new OpenLayers.Feature.Vector(
new OpenLayers.Geometry.Point( osm_lon, osm_lat ).transform(epsg4326, projectTo),
{name: osm_name} ,
{externalGraphic: '/assets/img/icons/icon-pin-32-green.png', graphicHeight: 25, graphicWidth: 21, graphicXOffset:-12, graphicYOffset:-25 }
);
vectorLayer.addFeatures(feature);

single_map.addLayer(vectorLayer);
single_map.setCenter (centerLonLat, zoom);

//Add a selector control to the vectorLayer with popup functions
var controls = {
selector: new OpenLayers.Control.SelectFeature(vectorLayer, { onSelect: createPopup, onUnselect: destroyPopup })
};

function createPopup(feature) {

feature.popup = new OpenLayers.Popup.FramedCloud("pop",
feature.geometry.getBounds().getCenterLonLat(),
null,
'<div>'+osm_name+'</div>',
null,
true,
function() { controls['selector'].unselectAll(); }
);
single_map.addPopup(feature.popup);

}

function destroyPopup(feature) {
feature.popup.destroy();
feature.popup = null;
}

single_map.addControl(controls['selector']);
controls['selector'].activate();

</script>
<!-- /openStreetMaps -->


<script type="text/javascript">

    function contact_request(){

		$('#contact_us_form_name_error').hide();
		$('#contact_us_form_email_error').hide();

  		var name = $('#contact_us_form_name').val();
		if (name.length<3) {
			$('#contact_us_form_name_error').show();
			$('#contact_us_form_name').focus();
			return false;
        }


  		var email = $('#contact_us_form_email').val();
		if (email.length<3) {
			$('#contact_us_form_email_error').show();
			$('#contact_us_form_email').focus();
			return false;
        }
		var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
		if(!re.test(email)) {
  			$('#contact_us_form_email_error').show();
			$('#contact_us_form_email').focus();
			return false;
  		}

        $('#contact_us_form_button').hide();
        $('#contact_us_form_thank_you').hide();
        $.post( "/home/contact_request", {
  				name: $('#contact_us_form_name').val(),
  				email: $('#contact_us_form_email').val(),
  				phone: $('#contact_us_form_phone').val(),
  				subject: $('#contact_us_form_subject').val(),
  				message: $('#contact_us_form_message').val(),
  				request_url: '{request_url}'
  				})
              .done(function( data ) {
                var sitedata = JSON.parse(data);
                if(sitedata.status=='ok') {
  					$('#contact_us_form_request').hide();
                    $('#contact_us_form_thank_you').show();
                } else {
                    $('#contact_us_form_button').show();
                    $('#contact_us_form_name').focus();
                }
              }).fail(function() {
                    $('#contact_us_form_button').show();
                    $('#contact_us_form_name').focus();
                });
    }







</script>
<a href="#" title="back to top" class="scrollToTop" style="display: none;">
    <i class="fa fa-chevron-up"></i>
</a>
<div class="push"></div>
</div>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-css :: footer-css"/>
</body>
</html>