<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Despre noi</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/5.15.4/css/font-awesome.min.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

</head>
<body class="despreNoi">
<div th:replace="fragments/navbar :: navbar"/>
</div>
<div>
    <div class="col-sm-6">
    </div>
    <div class="about-three-boxes">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h2>Cine suntem</h2>
                    <p>Echipa 4ToUr este formată din oameni motivați și pregătiți (prin training-uri interne sau externe
                        de specializare și comunicare) la
                        <b>standarde înalte pentru satisfacția clientului</b>, consumator al produselor noastre de
                        turism.
                        <br><br>

                        De-a lungul anilor, am acumulat experiență și am evoluat, oferind clienților noștri din
                        <b>Timisoara</b> dar și din restul <b>României</b>, cea mai bună consultanță de turism posibilă.<br><br>
                    </p>
                </div>

                <div class="col-sm-4">
                    <h2>Ce facem</h2>
                    <p>Găsiți toate serviciile de turism de care aveți nevoie! Indiferent că doriți un zbor cu avionul,
                        un city break sau un pachet charter, suntem aici să vă ghidăm și să vă găsim cele mai bune
                        oferte din zecile de mii disponibile.<br><br>

                        Avem <b>peste 45 de furnizori și parteneri
                        </b> (inclusiv cele mai mari GDS-uri de cazare și bilete de avion) cu care lucrăm în fiecare zi,
                        permițându-ne astfel să avem acces la toată oferta de servicii globală. Astfel, noi triem prin
                        toate ofertele, alegem și personalizăm destinația și ți-o prezentăm. <br><br>

                        Totodată, prin website-ul nostru, ți-am pus la dispoziție tehnologia ca să poți căuta și singur,
                        la orice oră, ce destinații și servicii dorești.</p>
                </div>

                <div class="col-sm-4">
                    <h2>Cum facem</h2>
                    <p>Am investit în tehnologie, pentru a vă putea oferi soluții moderne de travel online, pentru a te
                        informa despre sau pentru a cumpăra (online cu cardul) ofertele de
                        <b>Early Booking</b>,
                        <b>Last Minute</b> sau servicii de Zboruri, Cazare și City Break,
                        <b>oricând doriți, în timp real</b>. <br><br>

                        Însă, dincolo de tehnologia modernă, considerăm că personalul nostru aduce un aport fantastic
                        oricărui călător, consultându-vă și oferindu-vă
                        <b>cele mai bune soluții și alternative
                        </b>, în funcție de experiențele anterioare și informațiile agenției din anul curent, sau anii
                        trecuți.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-css :: footer-css"/>

</body>
</html>