<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"/>
  <title>Hotel</title>
  <link th:rel="stylesheet" th:href="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.css}"/>
  <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css} "/>
  <link th:rel="stylesheet" th:href="@{/webjars/font-awesome/5.15.4/css/all.css} "/>
</head>
<body>
<div th:replace="fragments/navbar :: navbar"/>

<div align="center">
  <h1>Hotel list</h1>

  <a th:href="@{/hotel/add}">Create hotel</a>

  <table class="table table-sm">
    <thead>
    <tr>
      <th>Name</th>
      <th>Star Rating</th>
      <th>Description</th>
      <th>City</th>

    </tr>
    </thead>

    <tbody>

    <tr th:each="hotel : ${hotelsInView}">
      <td th:text="${hotel.name}"></td>
      <td th:text="${hotel.starRating}"></td>
      <td th:text="${hotel.description}"></td>
      <td th:text="${hotel.city.name}"></td>

      <td>
        <div class="actions">
          <a th:href="@{/hotel/{id}/edit(id = ${hotel.id})}">Edit</a>
          <a th:href="@{/hotel/{id}/delete(id = ${hotel.id})}">Delete</a>
        </div>
      </td>
    </tr>
    </tbody>
  </table>

</div>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/moment/moment.min.js}"></script>
<script th:src="@{/assets/tempusdominus-bootstrap-4/tempusdominus-bootstrap-4.min.js}"></script>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-css :: footer-css"/>
</body>
</html>