<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:replace="fragments/head-css :: head-css"/>

    <div th:replace="fragments/header-js :: header-js"/>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />


</head>
<body>
<div th:replace="fragments/navbar :: navbar"/>


<div th:replace="fragments/main :: main"/>

<br>
<br>

<div th:replace="fragments/footer :: footer"/>
<div th:replace="fragments/footer-css :: footer-css"/>

</body>

</html>